<% content_for(:title, "Skills") %>

<div class ="container">
  <div id="col-md-12">
    <div id="row well">
      <div class="page-header">
        <% if can? :update, @skill %>
          <span class="pull-right ">
            <%= link_to "Add Even More Skills", new_skill_path(@skill), :class => "btn btn-xs btn-default", id: "add-skills"%><br>
          </span>
        <% end %>
        <h3>Alexandar Castaneda has skills you need:</h4>
      </div>
    </div>

    <div id="row ">
    </div>
    <div class="row">
      <ul class="list-unstyled">
      <% @skills.each do |skill| %>
          <li class="well text-center"> <%= link_to skill.name, skill_path(skill) %></li>
      <% end %>
    </ul>

    </div>
  </div>
</div>
