<% content_for(:title, "Alexandar Castaneda") %>

<div class ="container">
  <div class="page-header">
    <h1 class="strong">Alexandar Castaneda</h1>
  </div>

  <div id="aboutme">
    <div id="row well">
          <p class="lead">
            About this guy....
          <%= link_to "See References", references_path, class: "pull-right btn btn-sm btn-primary", remote: true  %>
          </p>
          <div>
            And you know, I'm tired ... I'm so tired of pretending like my life
            isn't perfect and bitchin' and just winning every second .... And I'm not
            perfect and bitchin', and just delivering the goods at every frickin' turn.
            It's being directed and written by a genius name David Ward who - oh, I
            don't know - won the Academy Award at 23 for writing The Sting. And it was
            his pen and his vision that created the classic that we know today as Major
            League. Yeah. I did. Because he's nothing shy of that. And it is his job to
            go out there and embarrass people. Embarrass them. Not just beat them, but
            embarrass them in the process.
          </div>
          <p></p>
          <div>
            Yeah, I didn't care about that vanity card. In fact, I went straight
            on with that one and just dispelled that one. And you know, I'm tired ...
            I'm so tired of pretending like my life isn't perfect and bitchin' and just
            winning every second .... And I'm not perfect and bitchin', and just
            delivering the goods at every frickin' turn. But like in baseball, the
            scoreboard doesn't lie. Never has. So what we all have is a marriage of the
            heart ... of the hearts.
          </div>

    </div>
  </div>
</div>
