<% content_for(:title, "Alexandar Castaneda") %>

<div class ="container">
  <div class="page-header">
    <h1 class="strong">Alexandar Castaneda</h1>
  </div>

  <div id="aboutme">
    <div id="row well">
          <p class="lead">
            About this guy....
          <%= link_to "See References", references_path, class: "pull-right btn btn-sm btn-primary", remote: true  %>
          </p>
          <div>
            I came to coding the long way.  I'm not someone who jumped into tech with dreams of becoming a tech billionaire.  
            I got into tech becuase after a successful career in digital streaming entertainment I found that coding was a place that I
            could excersize my technically oriented mind without sacrificing my creativity.  
          </div>
          <p></p>
          <div>
            The site you are on right now is not my personal blogging site.  This is a practice site I built using Ruby on Rails 4.  It has authentication, 
            full CRUD capability and persistent data.  I originally meant it as a portfolio site but then decided I wanted something simpler.
          </div>

    </div>
  </div>
</div>
