<p class="lead">
  References:
  <%= link_to "About Alexandar", home_index_path, class: "pull-right btn btn-sm btn-primary", remote: true  %>

</p>

<blockquote>
  <p class="lead">
    Amazing and stupendous!
  </p>
  <small>says <cite> Paul Somebody</cite></small>
  </p>
</blockquote>
<blockquote>
  <p class="lead">
    Wow!
  </p>
  <small>says <cite> Max to the max</cite></small>
  </p>
</blockquote>
<blockquote>
  <p class="lead">
    Do you even lift?
  </p>
  <small>says <cite> Bro</cite></small>
  </p>
</blockquote>
